<section class="movie-section">
  <h1>Current Movies</h1>

  <p *ngIf="movies.length === 0">
    No movies were found.
  </p>

  <div class="movie-list">
    <div class="movie-card" *ngFor="let movie of movies">

      <img
        class="movie-cover"
        [src]="movie.cover"
        [alt]="movie.name"
      >

      <div class="movie-information">
        <h2>{{ movie.name }}</h2>

        <p>{{ movie.description }}</p>

        <p><strong>Genre:</strong> {{ movie.genre }}</p>
        <p><strong>Rating:</strong> {{ movie.rating }}</p>
        <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
        <p><strong>Required age:</strong> {{ movie.requiredAge }}</p>

        <button type="button" (click)="bookMovie(movie.movieId)">
        Book ticket
        </button>
      </div>

    </div>
  </div>
</section>